<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Les meta-données DESCRIPTIONS à mettre ici........ -->
      <meta name="description" content="Page description" /> <!-- . No longer than 155 characters. -->

      <!-- <title>Page Title. Maximum length 60-70 characters</title> -->
      <title>Munsc by Seno</title>

      <!-- Les meta-données pour les principaux réseaux sociaux. -->
      <%= render "shared/socials" %>


      <!-- Les liens CDN Google fonts et Font awesome -->

      <link href="https://fonts.googleapis.com/css?family=Arvo:700i|Open+Sans:400,700" rel="stylesheet">
      <script src="https://use.fontawesome.com/b398923a13.js"></script>

      <!-- Bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Bootstrap perso -->
      <%= stylesheet_link_tag    'application' %>
  </head>


  <body>
      <!-- la navbar -->
      <%= render "shared/navbar" %>

      <div class="vertical-spacer"> </div>

      <%= yield %>

      <!-- footer -->
      <%= render "shared/footer" %>



      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!-- Il s'agit du code de suivi Universal Analytics -->
      <%= render "shared/google_analytics" %>
  </body>

</html>
